
<!-- SHOWS THE WHOLE SHOE LIST -->

<div class='block-opt'> 
	<div class='block-opt-mid'> 
		<div class='block-opt-center'> 
			
			<div class='text-inv-pgheader'> 
				<span class='text-shoe-count'> Shoe Closet </span> <br> You have {{ctrl.numShoes}} pairs of shoes <br>
				<span class='small-text'> Shoe Level: {{ctrl.level}} </span>
				<button class='ghost-btn-blue' ng-click='ctrl.addShoeBtn()'>Add Shoe</a></button> 

				<div class='block-fltr-wrap'> 
				  <div class="block-fltr-width">
				    <div class="input-group">
				      <input type="text" class='form-control' placeholder="Search shoes..." ng-model='ctrl.search'>
				      <span class="input-group-btn">
				        <button class="btn searchBtn btn-default" type="button"> <span class='glyphicon glyphicon-search'> </span> </button>
				      </span>
				    </div>
				  </div>
				</div> <!-- eo block-fltr-wrap -->
			</div>
		</div>
	</div>
</div><!--  eo block-opt-->

<div class='inv'> 
	<div class='inv-center clearfix'>

		<div class='inv-repeat-block shoe' ng-repeat='shoe in ctrl.allShoeData | filter: ctrl.search | filter: query as results'>
			<div class='inv-block inv-block-img'> 
				<img class='img-dash-thumb' ng-src='{{ctrl.boots}}' ng-if="shoe.type == 'boots'">
				<img class='img-dash-thumb' ng-src='{{ctrl.clog}}' ng-if="shoe.type == 'clog'">
				<img class='img-dash-thumb' ng-src='{{ctrl.dressShoe}}' ng-if="shoe.type == 'dress shoe'">
				<img class='img-dash-thumb' ng-src='{{ctrl.flats}}' ng-if="shoe.type == 'flats'">
				<img class='img-dash-thumb' ng-src='{{ctrl.heels}}' ng-if="shoe.type == 'heels'">
				<img class='img-dash-thumb' ng-src='{{ctrl.other}}' ng-if="shoe.type == 'other'">
				<img class='img-dash-thumb' ng-src='{{ctrl.sandles}}' ng-if="shoe.type == 'sandles'">
				<img class='img-dash-thumb' ng-src='{{ctrl.sneakers}}' ng-if="shoe.type == 'sneakers'">
			</div>

			<div class="inv-block inv-block-pos">
				<div class='inv-block-desc'> 
					<div class='text-inv-name'> {{shoe.name | TitleCaseFltr }} </div>
					<div class='text-inv-type'> {{shoe.type | uppercase}} </div>
  					<div ng-repeat='colors in shoe.colors' 
  						 ng-style='{
						"display": "inline-block",
						"width": "10px",
	  					"height": "10px",
	  					"margin-right": "2px", 
	  					"background-color": "{{colors}}"}'>
  					</div>
					<div class='text-inv-brand inv-block-brand'> {{shoe.brand | Capitalize }}</div>
					<div class='text-inv-desc'> {{shoe.description | Capitalize}} </div> 
				</div>
			</div>

			<div class='inv-block inv-block-cond'> 
				<span>WEARABLE CONDITIONS</span>
				<ul> 
					<li ng-repeat='cond in shoe.conditions'>
					 <img ng-src='{{ctrl.rainImg}}' ng-show="cond =='rain'" title="rain" />
					 <img ng-src='{{ctrl.snowImg}}' ng-show="cond =='snow'" title="snow" />
					 <img ng-src='{{ctrl.clearImg}}' ng-show="cond =='clear'" title="clear" />
					</li>
				</ul>
				<ul>
					<li ng-repeat='temp in shoe.temperature'>
					 <img ng-src='{{ctrl.hotImg}}' ng-show="temp =='hot'" title="hot"/>
					 <img ng-src='{{ctrl.warmImg}}' ng-show="temp =='warm'" title="warm" />
					 <img ng-src='{{ctrl.coolImg}}' ng-show="temp =='cool'" title="cool" />
					 <img ng-src='{{ctrl.coldImg}}' ng-show="temp =='cold'" title="cold" />
					</li>
				</ul>
			</div><!--  eo inv-block-cond -->

			<div class='inv-block inv-block-editdelete'>
				<div class='inv-edit-links'> 
					<button class='ghost-btn-edit'><span class='glyphicon glyphicon-pencil' aria-hidden="true"> </span><span ng-click="ctrl.editShoe(shoe)"> EDIT</span></button>
				</div>
				<div class='inv-edit-delete'> 
					<button class='ghost-btn-delete'> <span class='glyphicon glyphicon-trash' aria-hidden="true"> </span> <span ng-click="ctrl.deleteShoe(shoe._id)">DELETE</span></button>
				</div> 
			</div>
		</div> 

		<div class='noshoe-dash-block' ng-show='results.length == 0'>
			No shoes were found with your search parameters. Search again or add a shoe.
		</div>
	</div> <!-- eo clearfix -->
</div> <!-- eo inv -->

<!-- will show when there are no shoes left in list -->
<div class='noshoe-dash-block' ng-hide="ctrl.is_shoes">
	You have no shoes. Add Shoe to start your closet.
</div> 

<!-- MODAL -->

<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class='modal__head text-modal-header'><span class='glyphicon glyphicon-ok checkmarkbounce'></span>Shoe added to closet</div>

      <div class='modal__body'> <div class="text-modal-body">What's next?</div>
        <button class='ghost-btn-blue' ng-click="ctrl.modal('user.front_page')">Check your Solecast</button>
        <button class='ghost-btn-blue addShoeBtn' ng-click="ctrl.modal('user.add_shoe')">Add more shoes</button>
        <button class='ghost-btn-blue solecastBtn' data-dismiss="modal">Admire your shoe closet</button>
      </div>
    </div>
  </div>
</div>

<!-- LOADER TO FRONT PAGE -->
<div class='icon-loader icon-loader-intro' ng-show='ctrl.loader'>  
	<div class='pulse'> 
		<div class='bounce1'> 
			<img class='loader-sm' ng-src='{{ctrl.rainSvg}}'>
		 </div>
		<div class='bounce2'>
			<img class='loader-sm' ng-src='{{ctrl.snowSvg}}'>
		</div>
		<div class='bounce3'>
			<img class='loader-sm' ng-src='{{ctrl.clearSvg}}'>
		</div>
	</div>
</div>



