


//http://codepen.io/therealvdeadline/pen/ogOKxp
.ghost-btn-blue {
	@include ghost-button($med-blue, 45px, 100%, 2px solid, inline-block, null);
}

.ghost-btn-front {
	@include ghost-button($dark-blue, 30px, 100%, 2px solid, inline-block, null);
	font-size: type-scale(0);
	line-height: 0;
}

.ghost-btn-edit {
	@include ghost-button($med-blue, 45px, 100%, 2px solid, inline-block, null);
    @include centering-btn;
    margin-top: 0px; // override mixin margin
}

.ghost-btn-delete {
	@include ghost-button($med-blue, 45px, 100%, 2px solid, inline-block, $bright-red);
	@include centering-btn;
}

.glyphicon.glyphicon-trash, .glyphicon-pencil {
	padding-right: 5px;
	top: 0;
}








