// See variables.scss for type scale
// See mixins.scss for mixin of type-setting for font-size & line-height
// see functions.scss for font size &  line height & type scale


// Sass examples 
// @include type-setting(0) - mixin for size/line-height
// font-weight: weight-scale(heavy) - getting mapping of weight-scale 

/*
 ====================  GLOBAL  ==================== 
*/

label {
	font-weight: weight-scale(heavy);
	letter-spacing: 2px;
	text-transform: uppercase;
}

a {
	text-decoration: none !important;
	font-size: type-scale(0);
	color: $color-link;

	&:visited {
		color: $color-visited;
	}
	&:hover {
		color: $color-hover;
		font-weight: weight-scale(heavy);
	}
	&:focus {
		color: $color-focus;
	}
	&:active {
		color: $color-active;
	}
}


body {
	@include type-setting(0);
	font-family: $text-font-stack;
}

h1 {
	margin: 0 0 2px 0;	
	@include type-setting(2);
	font-family: $display-font-stack;
}

h4 {
	@include type-setting(0);
	font-weight: weight-scale(heavy);
	letter-spacing: 1px;
	padding-bottom: 2px;
	margin: 0;
	text-transform: uppercase;
}

table {
	text-align: center;
}

/* 
* ==== Common type =====
*/

.small-text {
	@include type-setting(-1);
}

.small-text-header {
	@include type-setting(0);
	font-weight: weight-scale(heavy);
	letter-spacing: 2px;
}

.large-text {
	@include type-setting(2);
}


/* 
* ==== Nav bar =====
*/

nav {

	.sandboxBar > a {
		font-size: type-scale(0);
		letter-spacing: 1px;
	}

	a {
		font-size: type-scale(1);
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $light-blue;

		&:visited {
			color: $med-blue;
		}
		&:hover {
			color: $dark-blue;
		  .shoeicon:first-child path {
		    fill: $dark-blue;
		  }
		}
		&:focus {
			color: $light-blue;
		}
		&:active {
			color: $light-blue;
		}
	}

	.tagline-text {
		color: $med-blue;
		font-family: $display-font-stack;
		font-size: type-scale(1);
	}
} // eo nav


/* 
* ==== Footer =====
*/

footer {
	color: $mid-grey;
	line-height: 1.5rem;

	a:visited{
		color: $med-blue;
	}
}

/* 
* ==== FRONT PAGE text =====
*/

/* *
 * Type formats in Conditions section on front page
*/ 
.text-city {
	@include type-setting(1);
	text-align: center;
	text-transform: uppercase;
}

.cond-text-large {
	font-size: type-scale(6);
	line-height: line-height-scale(5);
	font-family: $display-font-stack;
}

.cond-text-small{
	@include type-setting(2);
	font-family: $display-font-stack;
}

.med-text-header {
	@include type-setting(2);
	font-weight: weight-scale(med);
	font-family: $display-font-stack;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.projection-text {
	@include type-setting(1);
}

.lastupdate-text {
	font-style: italic; 
}

.text-hours {
	font-weight: weight-scale(med);
}

.glyphicon-hours{
	font-size: 0.9rem;
}

.add-shoe-text {
	@include type-setting(2);
	color: rgba($color-active, 0.5);
	letter-spacing: 2px;
}

.add-symbol {
	font-family: $display-font-stack;
	font-weight: weight-scale(heavy);
	font-size: 5rem;
	color: rgba($color-active, 0.5);
}

/* 
* ==== DASH TEXT =====
*/

.text-shoe-count {
	@include type-setting(2);
	font-family: $display-font-stack;
}

.text-inv-name {
	font-size: type-scale(3);
	line-height: line-height-scale(2);
	font-family: $display-font-stack;
}

.text-inv-type {
	@include type-setting(1);
	font-weight: weight-scale(med);
	font-style: italic; 
}

.text-inv-brand {
	@include type-setting(1);
	font-weight: weight-scale(heavy);
}

.text-inv-pgheader {
	@include type-setting(1);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text-no-shoe{
	@include type-setting(0)
}

/* 
* ==== FORM TEXT =====
*/

.text-frm-header {
	@include type-setting(2);
	font-weight: weight-scale(med);
	font-family: $display-font-stack;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text-frm-cond-header {
	@include type-setting(1);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: $display-font-stack;
}

.error {
	color: $error;
	font-weight: weight-scale(heavy);
}

/* 
* ==== INTRO TEXT =====
*/

.text-intro-line {
	@include type-setting(1);
	font-family: $display-font-stack;
	color: $mid-grey;
}

