/*
====== FORM PAGES ADD/EDIT SHOES ====
	user-edit-shoe.html
	user-add-shoe.html
*/

.frm-ctr-wrap {
	// Hack way to fill div with padding instead of margin
	// so it will inherit background color
	background-color: $light-grey;
	padding: 5% 37.5%;
	
	.frm-desc-wrap {
		margin-bottom: line-height-scale(3);
	}

	.frm-header-block{
		border-bottom: thin dotted black;
		padding-bottom: line-height-scale(-1);
		margin-bottom: line-height-scale(4);
	}

	.frm-block {
		margin-top: line-height-scale(-1);
	}

	.frm-inline {
		display: inline-block;
	}

	.frm-cond-block{
		padding-bottom: line-height-scale(-1);
		margin: line-height-scale(5) 0 line-height-scale(2) 0;	
	}

	.frm-desc-cond-block{
		margin-bottom: line-height-scale(4);
		margin-top: line-height-scale(1);
	}

// frm-clr-picker-sm & frm-clr-picker-lg
// creates round color pickers
// picker-lg crops picker-sm 
	.frm-clr-picker-lg {
		height: 50px;
		width: 50px;
		overflow: hidden;
		border-radius: 100%;
		position: relative;
		top: -10px;
		left: -10px;
	}
	
	.frm-clr-picker-sm {
		display: inline-block;
		height: 20px;
		width: 20px;
		overflow: hidden;
		border-radius: 100%;
		border: 2px solid $color-picker-border;
	}
}








