.cont-range {
	padding-top: line-height-scale(-1);
}

.cont-range-hours {
	display: inline-block;
	padding-right: 1rem;
	position: relative;
	top: -0.5rem;
}

.temp-block{
	margin-top: line-height-scale(2) !important;
}

.btn-set-pos {
	margin-top: 15%;
	margin-bottom: 45%;
}


