// for user-settings.html

.cont-input-pad {
	padding-top: line-height-scale(-1);
}

.cont-range-hours {
	display: inline-block;
	padding-right: 1rem;
	position: relative;
	top: -0.5rem;
}

.btn-set-pos {
	margin-top: 15%;
	margin-bottom: 45%;
}


